# conf/utils
.editorconfig
.git*
.php*
.styleci.yml
docker-compose.yml
Makefile

# docs
docs
readme.md

# tests
phpunit.xml
tests

# storage
storage/app/public/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/mysql

# public
public/images

# js/css
node_modules
package.json
yarn.lock
webpack.mix.js