body {
  background: $gray-100;
  background-size: cover;
}

main {
    margin-top: $navbar-height;
    flex: 1;
}

// Button
.btn-primary, .btn-warning {
    color: white;
    border-color: white;
}

.btn-primary:hover, .btn-warning:hover {
    color: white;
}