// Config
$navbar-height: 55px;
$enable-responsive-font-sizes: true;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif:      'Quicksand', sans-serif;
$font-family-japanese:        "Century Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", 游ゴシック体, YuGothic, "Yu Gothic", メイリオ, Meiryo;
$font-family-base:            $font-family-sans-serif $font-family-japanese !default;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$dark-sky-blue: #87b9ce !default;
$wild-blue-yonder: #b1afc9 !default;
$green: #586E58; // success
$cyan: #173879; // info
$yellow: #EBC336; // warning
$red: #173879; // danger
$gray-100: #F2F2F2; // light
$gray-800: #102326; // dark

// Bootstrap Thema 
$primary:       $dark-sky-blue !default; // $blue 
$secondary:     $wild-blue-yonder !default; // $gray-600 
