// Config
$navbar-height: 55px;
$enable-responsive-font-sizes: true;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif:      'Quicksand', sans-serif;
$font-family-japanese:        "Century Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", 游ゴシック体, YuGothic, "Yu Gothic", メイリオ, Meiryo;
$font-family-base:            $font-family-sans-serif $font-family-japanese !default;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;
