// Config
$navbar-height: 55px;
$enable-responsive-font-sizes: true;

// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif:      'Quicksand', sans-serif;
$font-family-japanese:        "Century Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", 游ゴシック体, YuGothic, "Yu Gothic", メイリオ, Meiryo;
$font-family-base:            $font-family-sans-serif $font-family-japanese !default;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Thema Colors
$blue: #7AB6BE;
$ming: #48767f; // primary
$gray-600: #52554E; // secondary
$keppei: #3DBB9F;
$green: #339481; // success
$cyan: #163640; // info
$yellow: #BFA842; // warning
$red: #C71D61; // danger
$gray-100: #EDEDED; // light
$gray-800: #141E24; // dark

// Bootstrap Thema 
$primary:       $ming !default;